#content-placeholder {
  $color: rgba(156, 144, 144, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  ion-icon {
    font-size: 30vw;
    color: $color;
  }

  span {
    color: $color;
    font-size: 7vw;
  }

  @media (min-width: 641px) {
    ion-icon {
      font-size: 14rem;
    }

    span {
      font-size: 3rem;
    }
  }
}

.modal-fullscreen {
  --height: 100%;
  --width: 100%;
}
